{% extends 'layout.html.twig' %}

{% block content %}
    <a href="{{ url('add-item') }}" class="btn btn-success">Add item</a>
    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Id</th>
            <th>Title</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ item.id }}</td>
                <td>{{ item.title }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}